$dark-primary-color: #455A64; 
$default-primary-color: #607D8B; 
$light-primary-color: #CFD8DC; 
$text-primary-color: #FFFFFF; 
$accent-color: #009688; 
$primary-text-color: #212121;  
$secondary-text-color: #727272; 
$divider-color: #B6B6B6; 
