@import 'Colors';

/* TAGS */

*
{
    font-family: 'Roboto', sans-serif;
}

div, span, li, small
{
    color: $primary-text-color;
}

/* CLASSES */

.material_shadow
{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* CONTENT */

#header
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    /*max-height: 28px;*/
    font-size: 1.2em;
    font-weight: bold;
    background-color: $dark-primary-color;
    color: $text-primary-color;
    padding: 5px;
    z-index: 1000;

    #toggle_menu
    {
        font-size: 1.2em;
        position: fixed;
        top: 16px;
    }

    h1
    {
        margin: 0px;
        padding: 2px 0px 2px 5px;
        display: inline-block
    }
}

@media (max-width: 768px) 
{
    #header
    {
        h1
        {
            padding-left: 30px;
        }
    }
}

#header *
{
    color: $text-primary-color;
}

#container
{
}

#menu_container
{
    background-color: $light-primary-color;
    padding: 65px 10px 0px 10px;

    #menu
    {
        list-style: none;
        padding: 0px 0px 3px 5px;
    }

    #search_functionality_text
    {
        margin-bottom: 15px;
        width: 100%;
    }

    ul
    {
        padding: 0px;
        margin-left: 0px;
    }
}

#title
{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0px;
    overflow: hidden;
}

#content
{
    padding-top: 65px;

    #editor
    {
        #web_service_info
        {
            clear: both;
            word-wrap: break-word;
        }
    }
}