<Files  ~ "\.(view.php|htaccess)$">
  Order allow,deny
  Deny from all
</Files>
<Files  ~ "web/masterpages/$">
  Order allow,deny
  Deny from all
</Files>

RewriteRule ^(Home(\.php)?)?$ Home.php [QSA,L]
RewriteRule ^Base64Decode$ Base64Decode.php [QSA,L]
RewriteRule ^Base64Encode$ Base64Encode.php [QSA,L]
RewriteRule ^Capitalize$ Capitalize.php [QSA,L]
RewriteRule ^DateToTimestamp$ DateToTimestamp.php [QSA,L]
RewriteRule ^HexDecode$ HexDecode.php [QSA,L]
RewriteRule ^HexEncode$ HexEncode.php [QSA,L]
RewriteRule ^Home$ Home.php [QSA,L]
RewriteRule ^HTMLIndentation$ HTMLIndentation.php [QSA,L]
RewriteRule ^index$ index.php [QSA,L]
RewriteRule ^JsonIndentation$ JsonIndentation.php [QSA,L]
RewriteRule ^JSONValidation$ JSONValidation.php [QSA,L]
RewriteRule ^LowerCase$ LowerCase.php [QSA,L]
RewriteRule ^MD2Generator$ MD2Generator.php [QSA,L]
RewriteRule ^MD4Generator$ MD4Generator.php [QSA,L]
RewriteRule ^MD5Generator$ MD5Generator.php [QSA,L]
RewriteRule ^MinifyCSS$ MinifyCSS.php [QSA,L]
RewriteRule ^MinifyHTML$ MinifyHTML.php [QSA,L]
RewriteRule ^MinifyJSON$ MinifyJSON.php [QSA,L]
RewriteRule ^Settings$ Settings.php [QSA,L]
RewriteRule ^SHA256Generator$ SHA256Generator.php [QSA,L]
RewriteRule ^SHA512Generator$ SHA512Generator.php [QSA,L]
RewriteRule ^SQLIndentation$ SQLIndentation.php [QSA,L]
RewriteRule ^TimestampToDate$ TimestampToDate.php [QSA,L]
RewriteRule ^UpperCase$ UpperCase.php [QSA,L]
RewriteRule ^XMLIndentation$ XMLIndentation.php [QSA,L]
RewriteRule ^XMLValidation$ XMLValidation.php [QSA,L]
